.teste{
    color: #121212;
    text-align: center ;
    font-family: 'Poppins', sans-serif ;

    display: grid;
    text-align: center;

    border: solid ;
    border-radius: 6px ;
    width: 10%;
    height: 20%;
    margin-bottom: 1rem;
    margin-left: 45%;
}

.teste:hover{
    border-color: blue;       
}